{% extends "base.html" %}

{% block content %}
    <form action = "/form-submit" method="GET">

        <label for="companyname">Company Name</label>
        <br>
        <input type="text" name="companyname" id="companyname" placeholder="company Name">
        <br>
        <label for="user">Username</label>
        <br>
        <input type="text" name="username" id="user" placeholder="username">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" name="password" id="password" placeholder="password">
        <br>
        <input type="submit"value="Submit">
    
    </form>





{% endblock %}


