{% extends "base.html" %}

{% block content %}


<style>
    .pill {
        border-radius: 15px;
        padding: 3px 6px;
        color: white;
        font-size: 10px;
        display: inline-block;
        float: left;
    }
    .pill.pending { background-color: orange; }
    .pill.completed { background-color: grey; }
    .pill.inprogress { background-color: green; }
    .pill.passed { background-color: red; }
    .warning, .warning:hover{ color: red; font-weight: bold; }
    .reservation {
        padding: 10px 12px;
        border: 1px solid black;
        overflow: hidden;
    }
    .reservation:hover{
        border: 1px dashed grey;
    }
    .reservation_settings {
        display: inline-block;
        float: right;
    }
    .matches{
        font-size: 10px;
        text-decoration: underline;
        color: orange;
        cursor: pointer;
    }
    .highlighted {
        background-color: pink;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addATable">
               + Add Table
            </button>

            <hr>
            {% for seatingtable in seatingTables %}
                <div class="card" style="width: 32.7%; display: inline-block;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Table Num: {{seatingtable.table_number}} <hr>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <div class="card-text">
                            Seats: {{seatingtable.seats}} 
                            <span class="matches" data-seats="{{ seatingtable.seats }}">( matches )</span>
                            <br>
                            Status: 
                            {% if seatingtable.seating_reservations|length > 0 %}
                                Seated
                                <br>
                                <a href="/seating_tables/clear/{{seatingtable.id}}" class="card-link">Clear Table</a>
                            {% else %}
                                Empty
                                <br>
                                <a href="/seating_reservation/add/{{seatingtable.id}}" class="card-link">+ Reservation</a>
                            {% endif %}
                            <hr>
                            <a href="/seating_tables/delete/{{seatingtable.id}}" class="warning" onclick="alert('Are you sure you want to delete this reservation?')">
                                delete
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addACustomer">+ Add Customer</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAReservation">+ Add Reservation</button>
            <hr> 
            <h3>Reservations:</h3>
            {% if reservations|length > 0 %}
                {% for reservation in reservations %}
                    <div class="reservation" data-seats="{{reservation.number_people}}12">
                        Reservation for 
                        <a href="/customer/{{reservation.customer.id}}">
                            {{reservation.customer.name}}
                        </a> at 
                        <span style="font-size: 10px;">{{reservation.reservation_time}}</span> <br>
                        <span style="font-size: 12px;"></span>seats required: {{reservation.number_people}}</span> <br>
                        <div class="pill {{reservation.status}}">{{reservation.status}}</div><br>
                        <div class="reservation_settings">
                            <a href="{{ url_for('update_reservation', id=reservation.id )}}">Update</a>
                            <a class="warning" href="/reservation/delete/{{reservation.id}}" 
                               onclick="alert('Are you sure you want to delete this reservation?')" >
                                delete
                            </a>
                        </div>
                    </div> 
                {% endfor %}
            {% else %}
                <h4>No Reservations</h4>
            {% endif %}
        </div>
    </div>
</div>




<!-- MODALS -->


<!-- Add Table -->
<div class="modal fade" id="addATable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Table</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/seating_tables/add" method="POST">
                <label>Tables Number</label>
                <input type="number" name="tablenum" id="">
                <br>
                <label>Number of Seats</label>
                <input type="number" name="seatsnum" id="">
                <br>
                <input type="submit" value="create Tables">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>





<!-- Add Reservation -->
<div class="modal fade" id="addAReservation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Reservation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/reservation/add" method="POST">
                <label>How many People?</label><br>
                <input type="number" name="numOfPeople" id=""><br>
                
                <label>Time of reservation</label><br>
                <input type="datetime-local" name="dateTime" id=""><br>

                <label>Customer</label><br>
                <select name="customer" id="">
                    {% for customer in customers %}
                        {{ customer }}
                        <option value="{{customer.id}}"> {{customer.name}} </option>
                    {% endfor %}
                </select><br>

                <input type="submit" value="create reservation">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>




<!-- Add Customer -->
<div class="modal fade" id="addACustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/customer/add" method="POST">
                <label>Name</label>
                <br>
                <input type="text" name="custName" id="">
                <br>
                <label>Phone</label>
                <br>
                <input type="tel" name="custTel" id="">
                <br>
                <label>Email</label>
                <br>
                <input type="email" name="custEmail" id="">
                <input type="submit" value="create customer">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>


{% endblock %}


